openapi: 3.0.0
info:
  title: GTM Alpha API
  description: EPIC framework audit endpoint of GTM Alpha. The AI assistant tools are served separately over MCP at https://gtmalpha.gtmhelix.com/mcp-sse (see https://gtmalpha.gtmhelix.com/api-docs).
  version: 1.1.0
  contact:
    name: Shashwat Ghosh
    email: shashwat@gtmhelix.com
    url: https://gtmalpha.gtmhelix.com

servers:
  - url: https://gtmalpha.gtmhelix.com/api
    description: Production API

paths:
  /epic-audit:
    post:
      summary: EPIC framework maturity audit
      description: "Scores Ecosystem, Product-Led, Inbound and Outbound, and Community maturity and returns a 6-month roadmap. The inputs are saved with the result in GTM Alpha's database (Netlify Blobs store epic-audits); see https://gtmalpha.gtmhelix.com/privacy. Limited to 30 requests per minute per IP address."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                "type": "object",
                "required": [
                  "company"
                ],
                "properties": {
                  "company": {
                    "type": "string",
                    "description": "Company name"
                  },
                  "company_id": {
                    "type": "string",
                    "description": "Optional tracking ID; defaults to the company name in lower case with dashes"
                  },
                  "industry": {
                    "type": "string",
                    "description": "Industry"
                  },
                  "company_stage": {
                    "type": "string",
                    "description": "Company stage, for example seed, series-a, growth"
                  },
                  "current_gtm": {
                    "type": "string",
                    "description": "Description of the current go-to-market approach"
                  },
                  "focus_areas": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Areas to focus on"
                  },
                  "current_metrics": {
                    "type": "object",
                    "description": "Optional current metrics"
                  }
                }
              }
      responses:
        '200':
          description: Audit results (status, audit_results, progress_analysis, consultation_id, company_id, timestamp, summary, next_actions, persistence)
        '400':
          description: Missing required field company
        '405':
          description: Method not allowed (POST only)
        '429':
          description: Rate limit reached
